{% extends 'base.html' %}


{% block content %}
{% load static %}
<div class="dashboard-container">
    <div class="dashboard-grid">
        <div class="card-1">
            <a href="{% url 'register' %}" class="dashboard-option">
                <i class="fas fa-user-plus"></i>
                Register Admin/Staff
            </a>
        </div>
        <div class="card-1">
            <a href="{% url 'list_ration' %}" class="dashboard-option">
                <i class="fas fa-boxes"></i>
                Manage Ration
            </a>
        </div>
        <div class="card-1">
            <a href="{% url 'addfamily' %}" class="dashboard-option">
                <i class="fas fa-users"></i>
                Add Family
            </a>
        </div>
        <div class="card-1">
            <a href="{% url 'list_product' %}" class="dashboard-option">
                <i class="fas fa-cubes"></i>
                Manage Product
            </a>
        </div>
    </div>
</div>
{% endblock %}
