{% extends 'base.html' %}

{% block title %}Admin{% endblock %}
{% block content %}

{% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <div class="text-center body">
        <h1>Admin Dashboard</h1>
        <a href="{% url 'register' %}">Register Admin/Staff</a>
        <br>
        <a href="{% url 'list_ration' %}">Manage Ration</a>
        <br>
        <a href="{% url 'addfamily' %}">Add Family</a>
        <br>
        <a href="{% url 'list_product' %}">Manage Product</a>
        <br>
        <a href="{% url 'list_load' %}">View Loads</a>
        <br>

    </div>
{% endblock %}
