{% extends 'base.html' %}

{% block title %}Assign Staff{% endblock %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <div class="text-center">
        <form method="POST">
            {% csrf_token %}
            <p>Ration ID: {{rationShop.ration_id}}</p>
            <p>Ration Address:{{rationShop.address}} </p>
            <p>Ration Pincode: {{rationShop.pincode}}</p>
            <select name="staff" class="form-select">
                <option value="" disabled selected>Select Staff</option>
                {% for staff in staffList %}
                    <option value="{{ staff.user_id }}">{{ staff.user_name }} {{staff.phone_number}}</option>
                {% endfor %}
            </select>
            <button type="submit">Assign</button>
        </form>
    </div>
{% endblock %}
