{% extends 'base.html' %}

{% block title %}Family{% endblock %}
{% block content %}

{% load static %}


<!-- Content Section -->
<div class="container mt-5" style="min-width: 50vw;">
    <h1 class="text-center mb-4">Family Information</h1>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover align-middle text-center">
            <thead class="table-dark">
                <tr>
                    <th>Card Type</th>
                    <th>Card Number</th>
                    <th>Head Of Family</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for family in families %}
                    {% if family %}
                        <tr>
                            <td>{{ family.card_type }}</td>
                            <td>{{ family.card_number }}</td>
                            <td>{{ family.head_of_family }}</td>
                            <td>{{ family.email }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>




{% endblock %}
