{% extends 'base.html' %}

{% block title %}Home - Smart Ration{% endblock %}
{% block content %}

{% load static %}
<!-- Add the CSS to handle the page layout and responsive design -->


<!-- Main Content Section -->
<div class="container mt-4">
    <div class="body" style="text-align: center;">
        <h1>Welcome to Smart Ration</h1>
        <h2>Select Log in</h2>
        <div>
            <a href="{% url 'admin' %}">Admin</a>
        </div>
        <br>
        <div>
            <a href="{% url 'staff' %}">Staff</a>
        </div>
    </div>
</div>
{% endblock %}
