{% extends 'base.html' %}
{% load i18n %}
{% block title %}Home - Smart Ration{% endblock %}
{% block content %}

{% load static %}
<!-- Add the CSS to handle the page layout and responsive design -->


<!-- Main Content Section -->
<div class="container mt-5">
    <div class="text-center">
        <h1>{% trans "Welcome" %}</h1>
        <a href="{% url 'set_language' %}?lang=en">English</a> |
<a href="{% url 'set_language' %}?lang=ta">தமிழ்</a>

        <h1 class="mb-3">Welcome to <span class="text-primary">Smart Ration</span></h1>
        <h4 class="mb-4 text-muted">Select Login</h4>

        <div class="d-grid gap-3 col-6 mx-auto">
            <a href="{% url 'admin' %}" class="btn btn-outline-primary btn-lg d-flex align-items-center justify-content-center">
                <i class="bi bi-person-gear me-2"></i> Admin
            </a>
            <a href="{% url 'staff' %}" class="btn btn-outline-success btn-lg d-flex align-items-center justify-content-center">
                <i class="bi bi-person-badge me-2"></i> Staff
            </a>
        </div>
    </div>
</div>

{% endblock %}
