{% extends 'base.html' %}

{% block title %}Log in{% endblock %}
{% block content %}

{% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <div class="text-center body">
        <form method="POST">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        
    </div>
{% endblock %}
