{% extends 'base.html' %}

{% block title %}Inventory{% endblock %}
{% block content %}
    {% load static %}
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th,td{
            padding: 0 5px;
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <br>
    <a href="{% url 'staff' %}">Dashboard</a>
    <br>
    {% if ration %}
    <h1>Families in {{ration.address}} Ration Shop</h1>
    <a href="{% url 'distribute_product' %}">Set Distribute Product</a>
    <br>
    {% endif %}
    {% if  rationFamilies %}
        <table border="1">
            <thead>
                <th>card_number</th>
                <th>head_of_family</th>
                <th>member_count</th>
                <th>card_type</th>
                <th>email</th>
                <th>phone_number</th>
                <th>address</th>
                <th>Action</th>
            </thead>
            {% for rationFamily in rationFamilies %}
                <tr>
                    <td>{{rationFamily.card_number}}</td>
                    <td>{{rationFamily.head_of_family}}</td>
                    <td>{{rationFamily.member_count}}</td>
                    <td>{{rationFamily.card_type}}</td>
                    <td>{{rationFamily.email}}</td>
                    <td>{{rationFamily.phone_number}}</td>
                    <td>{{rationFamily.address}}</td>
                    <td><a href="{% url 'distribute_family_product' rationFamily.family_id %}">Distribute</a></td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
        <h1>No Family</h1>
    {% endif %}
   
    <br>
{% endblock %}
