{% extends 'base.html' %}

{% block title %}Add Ration{% endblock %}
{% block content %}

{% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <div class="text-center">
        {% if rationShop %}            
            <form method="POST">
                {% csrf_token %}
                <input type="number" name="staff" placeholder="staff" value="{{rationShop.staff}}"  required>
                <input type="text" name="address" placeholder="Address" value="{{rationShop.address}}" required>
                <input type="text" name="pincode" placeholder="Pincode" value="{{rationShop.pincode}}" required>
                <button type="submit">Edit Ration</button>
            </form>
        {% else %}
        <form method="POST">
            {% csrf_token %}
            <input type="number" name="staff" placeholder="staff" required>
            <input type="text" name="address" placeholder="Address" required>
            <input type="text" name="pincode" placeholder="Pincode" required>
            <button type="submit">Add Ration</button>
        </form>
        {% endif%}
    </div>
{% endblock %}
