{% extends 'base.html' %}

{% block title %}Inventory{% endblock %}
{% block content %}
<div class="container my-5 min-vw-50" style="max-width: 60vw;">
    <a href="{% url 'staff' %}" class="btn btn-primary mb-3">Dashboard</a>

    {% if ration %}
        <h2 class="text-primary mb-3">Families in {{ ration.address }} Ration Shop</h2>
        <a href="{% url 'distribute_product' %}" class="btn btn-primary mb-4">Set Distribute Product</a>
    {% endif %}

    {% if rationFamilies %}
        <div class="table-responsive">
            <table class="table table-bordered table-striped align-middle">
                <thead class="table-primary">
                    <tr>
                        <th>Card Number</th>
                        <th>Head of Family</th>
                        <th>Member Count</th>
                        <th>Card Type</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rationFamily in rationFamilies %}
                        <tr>
                            <td>{{ rationFamily.card_number }}</td>
                            <td>{{ rationFamily.head_of_family }}</td>
                            <td>{{ rationFamily.member_count }}</td>
                            <td>{{ rationFamily.card_type }}</td>
                            <td>{{ rationFamily.email }}</td>
                            <td>{{ rationFamily.phone_number }}</td>
                            <td>{{ rationFamily.address }}</td>
                            <td>
                                <a href="{% url 'distribute_family_product' rationFamily.family_id %}" class="btn btn-sm btn-primary">Distribute</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <h4 class="text-danger">No Families Available</h4>
    {% endif %}
</div>
{% endblock %}
