{% extends 'base.html' %}

{% block title %}Staff{% endblock %}
{% block content %}

{% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <div class="text-center body">
        <h1>Staff Dashboard</h1>
        <a href="{% url 'list_ration_load' %}">List Load</a>
        <br>
        <a href="{% url 'ration_products' %}">List Ration Products</a>
        <br>
        <a href="{% url 'list_ration_families' %}">List Families</a>
        <br>
        
    </div>
{% endblock %}
